*{
	padding:0;
	margin:0;
}
body{ 
	background: #FFF;
}
 a{
	text-decoration:none;
	color:#666;
	font-size: 12px;
}
a:hover{
	color: #f10215;
}
 li{
	list-style:none;
}
/*头部*/
#header{
	width:100%;
	height:auto;
	/*overflow: hidden;*/
	
}
#header .head{
	width:100%;
	background:#E3E4E5;
	
	position: relative;
}
/*#header .head .logo_big{
	position: absolute;
	width: 190px;
	height: 170px;
	top: 0;
	left: 37px;
	z-index: 999;
	background: #fff;
	box-shadow: 0 2px 10px #ccc; 
}*/
#header .head_top{
	width:1190px;
	height:30px;
	margin:0 auto;

}
#header .head_top .sign{
	float:left;
	height:30px;
	line-height:30px;
	width:520px;
	overflow: hidden;
	
}
#header .head_top .sign .beijing{
	float:left;
	/*background:url(../image/index/icon_zuobiao.png) no-repeat 0 3px;*/
	/*padding-left:20px;*/
	height:30px;
	line-height: 30px;
}
#header .head_top .sign .nihao{
	float:right;
}

#header .head_top .top_list{
	float:right;
	width:670px;
	height:30px;
}
#header .head_top .top_list ul{
	float:right;
}
#header .head_top .top_list ul li{
	float: left;
	height:30px;
	line-height: 30px;
	margin-right:10px;
}
#header .head_top .top_list ul li a{
	font-size: 13px;
	color: #63595A;
}
#header .head_top .top_list ul li a:hover{
	color: #f10215;
}
#header .head_top .top_list ul li span{
	font-size: 10px;
	color:#999;
	opacity: 0.6;
}
#header .head_top .top_list ul li.top_list_word{
	padding-right: 17px;
	background: url(../image/index/icon_xiabiao.png) no-repeat 52px 4px;
}
#header .search_nav{
	width:100%;
	background: #FFF;
	height:auto;
	/*overflow: hidden;*/
}
#header .top_search{
	width:1190px;
	height:100px;
	margin:0 auto;
	overflow: hidden;
	
}
#header .top_search .logo_shop{
	display: block;
	float: left;
	width: 270px;
	height: 60px;
	margin-top: 20px;
	overflow:hidden;
}

#header .top_search .top_search02{
	float:right;
	overflow:hidden;
}
#header .top_search .top_search_center{
	width:564px;
	height:100px;
	float:left;
	
}
#header .top_search .top_search_center .input{
	width:550px;
	height:35px;
	
	float:right;
	margin-top:25px;
	padding-right:14px;
}
#header .top_search .top_search_center .input .input1{
	width:456px;
	height:33px;
	display:block;
	outline:0;
	border:2px solid #B61D1D;
	float:left;
	padding-left: 5px;
}
#header .top_search .top_search_center .input .input2{
	width:82px;
	height:37px;
	display:block;
	float:left;
	background:#B61D1D ;
	background-position: 7px 2px;
	border:0;
	color: #fff;
	font-size: 18px;
	cursor:pointer;
}
#header .top_search .top_search_center .top_search_word{
	width:550px;
	margin-top:10px;
	clear:both;
	padding-top:5px;
}
#header .top_search .top_search_center .top_search_word a{
	padding-right:1px;
	
}
/*搜索框*/
#header .top_search .top_search_right{
	width:300px;
	height:120px;	
	float:left;
	
}
#header .top_search .top_search_right  .carbody{
	width:145px;
	overflow:hidden;
	border: 1px solid #ccc;
	line-height:35px;
	margin-top:25px;
	background:#f9f9f9;
	margin-left:25px;
}
#header .top_search .top_search_right  i.icon_car{
	display: block;
	width:22px;
	height:20px;
	margin-top:8px;
	background:url(../image/index/icon_car.png) no-repeat 2px -90px;
	float:left;
	margin-left:7px;
}
#header .top_search .top_search_right .shopcar{
	display: block;
	
	float:left;
	
	
	width:107px;
	height:35px;
	line-height:35px;
	text-align:center;

	font-size:13px;
	color: #f10215;
}
#header .top_search .top_search_right .carbody:hover {
	background:#fff;
}
#header .top_search .top_search_right .carbody:hover i.icon_car{
	background:url(../image/index/icon_car.png) no-repeat 2px -115px;
}
#header .top_search .top_search_right .shopcar .shopnum{
	line-height:16px;
	position: relative;
	top: -5px;
	display: inline-block;
	width: 14px;
	height: 14px;
	color: #fff;
	background: #f10215;
	border-radius: 50%;
}
/*导航*/

#header .top_nav{
	width:100%;
	height:40px;
	
}
#header .top_nav_list{
	width:1190px;
	height:40px;
	margin:0 auto;
	
}
#header .top_nav_list .quanbushangpin{
	display: block;
	float: left;
	width: 200px;
	height: 44px;
	background: #B1191A;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 44px;
	padding-left: 10px; 
}
#header .top_nav_list>ul{
	width:790px;
	height:40px;
	margin-left:210px;
}
#header .top_nav_list>ul>li{
	float: left;
	margin-left:30px;
	line-height: 40px;
	height:40px;
	position:relative;
}
#header .top_nav_list>ul>li>ul.zilei{
	display:none;
}
#header .top_nav_list>ul>li:hover>ul.zilei{
	display:block;
}

#header .top_nav_list>ul>li>a{
	font-size: 16px;
	color:#555;
}
#header .top_nav_list>ul>li.top_nav_fuhao{
	font-size: 10px;
	margin:0 5px 0 10px;
	margin-right: -15px;
	text-align: center;
	font-weight: normal;
	color:#999;
	opacity: 0.6;
}

/****子类显示****/
#header .top_nav_list>ul>li>ul.zilei{
	display:none;
	position:absolute;
	top:34px;
	left:-15px;
	/*width:100px;
	height:500px;*/
	/*background:#B1191A;*/
	border:1px solid #ccc;
	z-index:20;
	border: 3px solid #B1191A;

    /*border-top: 3px solid #fff;*/
}
/*二级子类*/
#header .top_nav_list>ul>li>ul.zilei>li{
	width:60px;
	padding:0px 10px;
	/*margin-top:10px;*/
	/*margin-right:5px;*/
	/*margin-left:5px;*/
	/*border:1px solid #ccc;*/
	background:#ddd;
	color:#fff;
	z-index:21;
	position:relative;
}
#header .top_nav_list>ul>li>ul.zilei>li>a{
	color: #B1191A;
	font-size:13px;
}
/*三级子类*/
#header .top_nav_list>ul>li>ul.zilei>li:hover{
	background:#B1191A;
	
}
#header .top_nav_list>ul>li>ul.zilei>li:hover>a{
	
	color:#fff;
}
#header .top_nav_list>ul>li>ul.zilei>li:hover>ul{
	display:block;
}
#header .top_nav_list>ul>li>ul.zilei>li>ul{
	display:none;
	position:absolute;
	top:0px;
	left:80px;
	
	/*border:3px solid #B1191A;*/
	background:#fff;
}
#header .top_nav_list>ul>li>ul.zilei>li>ul>li{
	/*float:left;*/
	width:80px;
	background:#ddd;
	text-align:center;
	border: 3px solid #B1191A;
    margin: -3px 0;
}
#header .top_nav_list>ul>li>ul.zilei>li>ul>li>a{
	color: #B1191A;
	font-size:13px;
}
#header .top_nav_list>ul>li>ul.zilei>li>ul>li:hover{
	background:#B1191A;
	
}
#header .top_nav_list>ul>li>ul.zilei>li>ul>li:hover>a{
	
	color:#fff;
}
/*主体*/
#main{
	width: 100%;
	height: auto;
	overflow: hidden;
	border-top:3px solid #B61D1D; 
	background: #fff;
}
#main .main-body{
	width: 1190px;
	height: auto;
	margin: 0 auto;
	
	overflow: hidden;
}
#main .main-body .result{
	width: 1190px;
	height: 30px;
	margin-top: 20px;
}
#main .main-body .shop-search{
	width: 1190px;
	height: 262px;
	margin-top: 20px;
	border-top: 1px solid #ddd;
	overflow: hidden;
	
}
#main .main-body .shop-search .pinpai{
	width: 1190px;
	height: 120px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
#main .main-body .shop-search .pinpai .pinpai01{
	width: 100px;
	height: 120px;
	float: left;
	background: #F3F3F3;
	font-size: 14px;
	font-weight: bold;
	line-height: 120px;
	text-align: center;
}
#main .main-body .shop-search .pinpai ul{
	width: 1020px;
	height: 34px;	
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#main .main-body .shop-search .pinpai ul li{
	width: 100px;
	height: 26px;	
	float: left;
	border:1px solid #ccc;
	padding: 10px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	margin-left: 2px;
	margin-top: 2px;
}
#main .main-body .shop-search .pinpai ul li:hover{
	outline: 2px solid #f10215;
}
#main .main-body .shop-search .pinpai ul li img{
	margin :0 auto;
	margin-top: -5px;
}
#main .main-body .shop-search .sou{
	width: 1190px;
	height: 34px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
#main .main-body .shop-search .sou .gaoji,
#main .main-body .shop-search .sou .leibie,
#main .main-body .shop-search .sou .zhengji{
	width: 100px;
	height: 34px;
	background: #F3F3F3;
	float: left;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#main .main-body .shop-search .sou .gaojilist a{
	
}
#main .main-body .shop-search .sou .gaojilist a span{
	display:inline-block;
	padding:0 5px;
	border:1px solid #ccc;
	line-height:22px;
}
#main .main-body .shop-search .sou .gaojilist li a span i.icon-xia{
	display:inline-block;
	float:right;
	line-height:20px;
	width:15px;
	height:20px;
	background:url('../image/shoplist/icon.png') no-repeat 0px 8px;
	margin-left:3px;
}
#main .main-body .shop-search .sou ul{
	width: 1000px;
	height: 34px;
	
	float: left;
}
#main .main-body .shop-search .sou ul li{
	width: 120px;
	height: 34px;
	float: left;
	margin-right: 2px;
	
	line-height: 34px;
	text-align: center;
}
#main .main-body .shop-search .sou ul li a{
	color: #005aa0;
}
#main .main-body .shop-search .sou ul li a:hover{
	color: red;
}
/*商品列表主体*/
#main .main-body .shop-list{
	width: 1190px;
	
	margin-top: 10px;
	
	overflow: hidden;
}
#main .main-body .shop-list .shop-list-left{
	width: 195px;
	height: 1100px;
	float: left;
	margin-right: 10px;
	/*background: #ff8700;*/
	overflow: hidden;
	border: 1px solid #ccc;
}
#main .main-body .shop-list .shop-list-left h4{
	margin:5px 10px;
}
#main .main-body .shop-list .shop-list-left ul li{
	float:left;
	width:208px;
	margin-bottom:20px;
	overflow:hidden;
}
#main .main-body .shop-list .shop-list-left ul li a.img{
	display:block;
	width:190px;
	height:190px;
	margin:10px 0;
}
#main .main-body .shop-list .shop-list-left ul li p{
	margin-top:5px;
	margin-left:10px;
	margin-right:5px;
	width:185px;
}
#main .main-body .shop-list .shop-list-left ul li p b{
	color:red;
}
#main .main-body .shop-list .shop-list-left ul li p:last-child{
	font-size:13px;
}
#main .main-body .shop-list .shop-list-left ul li p:last-child a{
	color:#005aa0;
}
#main .main-body .shop-list .shop-list-right{
	width: 982px;
	
	float: left;
	
	overflow: hidden;
}
#main .main-body .shop-list .shop-list-right .main-list{
	width: 982px;
	overflow: hidden;
	padding-bottom:10px;
}
#main .main-body .shop-list .shop-list-right .main-list .limit{
	height:38px;
	border-top:1px solid #ddd;
	background:#F1F1F1;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall{
	width:970px;
	margin:0 auto;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall .num{
	float:left;
	line-height:38px;
	margin-right:10px;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall .allnum{
	float:right;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a{
	margin-top:5px;
	height:25px;
	display:block;
	float:left;
	line-height:25px;
	border:1px solid #ddd;
	text-align:center;
	padding:0 5px;
	background:#fff;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a:hover{
	background:#E4393C;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a:hover span{
	color:#fff;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a span{
	display:block;
	float:left;
	padding-left:10px;

}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a i.icon01{
	display:block;
	float:left;
	width:7px;
	background:url('../image/shoplist/sprite.png') no-repeat 0 -93px;
	height:20px;
	margin-left:3px;
	margin-right:5px;

}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a i.icon02{
	display:block;
	float:left;
	width:7px;
	background:url('../image/shoplist/sprite.png') no-repeat -10px -95px;
	height:20px;
	margin-left:3px;
	margin-right:5px;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a b.icon03{
	padding:0 15px;
}
#main .main-body .shop-list .shop-list-right .main-list .limit .limitall a:hover b.icon03{
	color:#fff;
}
#main .main-body .shop-list .shop-list-right .main-list .select{
	height:38px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background:#F9F9F9;
}
#main .main-body .shop-list .shop-list-right .main-list .select .dizhi{
	float:left;
	margin-left:5px;
	line-height:38px;
	font-size:13px;
	margin:0 10px;
}
#main .main-body .shop-list .shop-list-right .main-list .select .dizhi span{
	padding-right:5px;
}
#main .main-body .shop-list .shop-list-right .main-list .select a{
	display:block;
	float:left;
	margin-left:5px;
	line-height:38px;
}
#main .main-body .shop-list .shop-list-right .main-list .select a input{
	position:relative;
	top:3px;

}
#main .main-body .shop-list .shop-list-right .main-list .select .search-limit{
	float:right;
}
#main .main-body .shop-list .shop-list-right .main-list .select .search-limit input{
	display:block;
	float:left;
	margin-top:7px;
}
#main .main-body .shop-list .shop-list-right .main-list .select .search-limit input[type=text]{
	width:115px;
	height:21px;	
	line-height:21px;
}
#main .main-body .shop-list .shop-list-right .main-list .select .search-limit input[type=submit]{
	width:52px;
	height:25px;
	line-height:25px;	
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist{
	overflow:hidden;
	
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist ul{
	overflow:hidden;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist ul li{
	width:240px;
	height:450px;
	margin-left:5px;
	margin-top:15px;
	overflow:hidden;
	float:left;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist ul li:hover{
	box-shadow:0 0 1px 1px #ccc;
	position:relative;
	top:-2px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist a.shopimg{
	display:block;
	width:220px;
	height:220px;
	margin:30px auto 10px auto;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist p{
	width:220px;
	margin:0 auto;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist p strong{
	color:#E4393C;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist p b{
	font-size:20px;
	color:#E4393C;
	font-weight:900;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist a.words{
	width:220px;
	margin:5px auto;
	display:block;
	font-size:13px;
	color:#666;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist a.words:hover{
	color:#E4393C;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist p a{
	color:#005aa0;
	font-size:15px;
	font-weight:bold;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .smallicon{
	width:220px;
	height:16px;
	margin:10px auto;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .smallicon img{
	display:inline-block;
	float:left;
	margin-right:5px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .smallicon b{
	background:#E4383B;
	color:#fff;
	display:inline-block;
	float:left;
	font-size:12px;
	padding:1px;
	margin-right:5px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .smallicon i{
	display:inline-block;
	float:left;
	width:16px;
	height:16px;
	background:url('../image/shoplist/smallicon02.png') no-repeat 0px 0px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add{
	width:220px;
	height:27px;
	margin:20px auto;
	
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a span,
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a{
	display:block;
	float:left;
	font-weight:normal;

}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a{
	border:1px solid #ccc;
	padding:5px;
	position:relative;

}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a:hover{
	border-color:#E4393C;
	z-index:10;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.duibi{
	z-index:2;
	left:1px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.jiaru{
	z-index:2;
	left:-1px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.duibi i{
	display:block;
	float:left;
	width:12px;
	height:12px;
	border: 1px solid #ccc;
	margin-right:5px;
	/*background:url('../image/shoplist/icon.png') no-repeat ;*/
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.duibi:hover i{
	border: 1px solid #E4393C;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.guanzhu i{
	display:block;
	float:left;
	width:16px;
	height:14px;
	margin-right:5px;
	background:url('../image/shoplist/icon.png') no-repeat 0px -415px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.guanzhu:hover i{
	background:url('../image/shoplist/icon.png') no-repeat 0px -438px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.jiaru i{
	display:block;
	float:left;
	width:18px;
	height:14px;
	margin-right:5px;
	background:url('../image/shoplist/icon.png') no-repeat 0px -249px;
}
#main .main-body .shop-list .shop-list-right .main-list .shoplist .add a.jiaru:hover i{
	background:url('../image/shoplist/icon.png') no-repeat 0px -275px;
}
#main .main-body .shop-list .shop-list-right .fenye{
	width: 700px;
	height: 70px;
	float:right;
	margin-top: 20px;
	
}
#main .main-body .shop-list .shop-list-right .fenye div{
	float:left;
	line-height:70px;
}
#main .main-body .shop-list .shop-list-right .fenye .page{
	height:38px;
	width:400px;
}
#main .main-body .shop-list .shop-list-right .fenye .page a{
	padding:10px;
	border:1px solid #ccc;
	font-size:15px;
}
#main .main-body .shop-list .shop-list-right .fenye .page a b.icon-left{
	padding-right:5px;
}
#main .main-body .shop-list .shop-list-right .fenye .page a b.icon-right{
	padding-left:5px;
}
#main .main-body .shop-list .shop-list-right .fenye .allpage{
	height:38px;
	width:100px;
	font-size:16px;
}
#main .main-body .shop-list .shop-list-right .fenye .dpage{
	height:38px;
	width:100px;
	font-size:16px;
}
#main .main-body .shop-list .shop-list-right .fenye .dpage input{
	width:38px;
	height:38px;
	font-size:16px;
	text-align:center;
}
#main .main-body .shop-list .shop-list-right .fenye .tijiaopage input{
	height:38px;
	width:56px;
	font-size:14px;
}
#main .main-body .jingxuan{
	width: 1190px;
	height: 305px;
	background: #ccc;
	margin-top: 50px;
}
#main .main-body .reset-search{
	width: 1190px;
	height: 110px;
	background: #521;
	margin-top: 50px;
}

#main .main-body .ad{
	width: 1190px;
	height: 100px;
	background: #741;
	margin: 100px auto;
}