<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Web 2.0 Login Form by Azmind.com</title>

	
	<link rel="stylesheet" href="./include/css/loginstyle.css" type="text/css" />


	</head>

	<body>
		<div id="container">
			<form action="./index.php?m=login&a=login" method="post">
				<div class="login">LOGIN</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input type="text" name="name" value="Admin" />
				</div>
				<div class="password-field">
					<input type="password" name="pwd" value="" />
				</div>
				<input type="checkbox" name="save3" id="remember-me" /><label for="remember-me">Save 3 day </label>
				<div class="forgot-usr-pwd">Forgot <a href="#">username</a> or <a href="#">password</a>?</div>
				<input type="submit" name="submit" value="GO" />
			</form>
		</div>
		<div id="footer">
			Welcome to <a href="http://localhost/baoan/" target="_blank" >baoan.com</a>
		</div>
	</body>
</html>
