<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="./include/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./include/js/jquery.js"></script>

</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    </ul>
    </div>
    
<div class="mainindex">
    
    
    <div class="welinfo">
    <span><img src="./include/images/sun.png" alt="天气" /></span>
    <b>亲爱的Admin，欢迎回来,人家等的好辛苦.</b>(<?php echo $_SESSION['user']['name'] ?>)
    </div>
    
    <div class="welinfo">
    <?php
    date_default_timezone_set('PRC');
        $timedir = './cache/timedir/'.$_SESSION['user']['name'].$_SESSION['user']['id'].'.txt';
       
        if(isset($_SESSION['user']['pretime'])){

            $pretime = date('Y-m-d H:i',intval($_SESSION['user']['pretime'])); 
        }
    
        
        
       
    ?>
    <span><img src="./include/images/time.png" alt="时间" /></span>
    <i>您上次登录的时间：<?php echo $pretime; ?></i>　　登录IP：<?php echo $_SERVER['SERVER_ADDR'];?> &nbsp;&nbsp;&nbsp;&nbsp;如非您本人操作，请及时</span><a href="./index.php?m=user&a=show" onFocus="this.blur()">更改密码</a> 
    </div>
     
    <div class="welinfo"> 
    <span><img src="./include/images/ico03.png" width="23" style="padding-left:5px;position:relative;top:10px;"/></span>
    <i>这是本网站第
    <b style="font-size: 30px; color: #538ec6; font-family: "Georgia","Tahoma","Arial";"><?php 
       echo file_exists('./cache/logintimes')?file_get_contents('./cache/logintimes'):'1'; 
       ?>
    </b>
    </i>次登录！
    </div>
</div>
    <div class="xline"></div>
    
    <ul class="iconlist">
    
    <li><img src="./include/images/ico01.png" /><p><a href="#">管理设置</a></p></li>
    <li><img src="./include/images/ico02.png" /><p><a href="#">发布文章</a></p></li>
    <li><img src="./include/images/ico03.png" /><p><a href="#">数据统计</a></p></li>
    <li><img src="./include/images/ico04.png" /><p><a href="#">文件上传</a></p></li>
    <li><img src="./include/images/ico05.png" /><p><a href="#">目录管理</a></p></li>
    <li><img src="./include/images/ico06.png" /><p><a href="#">查询</a></p></li> 
            
    </ul>
    
    <div class="ibox"><a class="ibtn"><img src="./include/images/iadd.png" />添加新的快捷功能</a></div>
    
    <div class="xline"></div>
    <div class="box"></div>
    
    <div class="welinfo">
    <span><img src="./include/images/dp.png" alt="提醒" /></span>
    <b>Uimaker信息管理系统使用指南</b>
    </div>
    
    
    <div class="xline"></div>
   
    
    
    </div>
    
    

</body>

</html>
