<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../include/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="../include/js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>通讯录</div>
    
    <dl class="leftmenu">
    
    <dd>
    <div class="title">
    <span><img src="../include/images/leftico01.png" /></span>首页
    </div>
        <ul class="menuson">
      <!--   <li><cite></cite><a href="index.html" target="rightFrame">首页模版</a><i></i></li> -->
        <li class="active"><cite></cite><a href="../index.php?m=login&a=show" target="rightFrame">首页</a><i></i></li>
       
        </ul>    
    </dd>
        

    <dd>
    <div class="title">
    <span><img src="../include/images/leftico01.png" /></span>管理信息
    </div>
    	<ul class="menuson">
      <!--   <li><cite></cite><a href="index.html" target="rightFrame">首页模版</a><i></i></li> -->
        <li class="active"><cite></cite><a href="../index.php?m=user&a=show" target="rightFrame">会员列表</a><i></i></li>
       <!--  <li><cite></cite><a href="../index.php?m=type&a=show" target="rightFrame">商品数据表</a><i></i></li> -->
        <li><cite></cite><a href="../index.php?m=user&a=add" target="rightFrame">添加编辑</a><i></i></li>
        <!-- <li><cite></cite><a href="imglist.html" target="rightFrame">图片列表</a><i></i></li> -->
        <li><cite></cite><a href="../index.php?m=user&a=rshow" target="rightFrame">回收站</a><i></i></li>
       <!--  <li><cite></cite><a href="tools.html" target="rightFrame">常用工具</a><i></i></li> -->
        <li><cite></cite><a href="../index.php?m=erreo" target="rightFrame">信息管理</a><i></i></li>
       <!--  <li><cite></cite><a href="tab.html" target="rightFrame">Tab页</a><i></i></li>
        <li><cite></cite><a href="error.html" target="rightFrame">404页面</a><i></i></li> -->
        </ul>    
    </dd>
        
    
    <dd>
    <div class="title">
    <span><img src="../include/images/leftico02.png" /></span>栏目管理
    </div>
    <ul class="menuson">
        <li><cite></cite><a  href="../index.php?m=type&a=show" target="rightFrame">栏目信息</a><i></i></li>
        <li><cite></cite><a href="../index.php?m=type&a=add" target="rightFrame">添加栏目</a><i></i></li>
        <li><cite></cite><a href="#">档案列表显示</a><i></i></li>
        </ul>     
    </dd> 
    
    
    <dd><div class="title"><span><img src="../include/images/leftico03.png" /></span>商品管理</div>
    <ul class="menuson">
         <li><cite></cite><a  href="../index.php?m=goods&a=show" target="rightFrame">商品列表</a><i></i></li>
         <li><cite></cite><a  href="../index.php?m=goods&a=add" target="rightFrame">添加商品</a><i></i></li>
    </ul>    
    </dd>  
    
     <dd>
    <div class="title">
    <span><img src="../include/images/leftico02.png" /></span>订单管理
    </div>
    <ul class="menuson">
        <!-- <li><cite></cite><a  href="../index.php?m=order&a=show" target="rightFrame">栏目信息</a><i></i></li> -->
        <li><cite></cite><a href="../index.php?m=order&a=show" target="rightFrame">订单列表</a><i></i></li>
        <li><cite></cite><a href="#">档案列表显示</a><i></i></li>
        </ul>     
    </dd> 
    
    <dd>
    <div class="title">
    <span><img src="../include/images/leftico02.png" /></span>友情链接
    </div>
    <ul class="menuson">
        <li><cite></cite><a  href="../index.php?m=link&a=show" target="rightFrame">链接列表</a><i></i></li>
        <li><cite></cite><a href="../index.php?m=link&a=add" target="rightFrame">添加连接</a><i></i></li>
        <li><cite></cite><a href="#">档案列表显示</a><i></i></li>
        </ul>     
    </dd> 

    <dd><div class="title"><span><img src="../include/images/leftico04.png" /></span>日期管理</div>
    <ul class="menuson">
        <li><cite></cite><a href="../index.php?m=rili&a=show" target="rightFrame">日历</a><i></i></li>
        <li><cite></cite><a href="#">常用资料</a><i></i></li>
        <li><cite></cite><a href="../index.php?m=login&a=show" target="rightFrame">登录界面</a><i></i></li>
        <li><cite></cite><a href="#">其他</a><i></i></li>
    </ul>
    
    </dd>   
    
    </dl>
    
</body>
</html>
